section.candidate-info_cover {
  @include flex-box;
  flex-direction: column;
  .candidate-key_info {
    @include flex-box;
    min-height: 170px;
    padding: 30px 50px 40px;
    flex-direction: row;
    justify-content: space-between;
    @include desktop-reg{
      padding: 20px 30px 30px;
    }
    @include desktop-sm {
      min-height: 145px;
    }
    @include mobile-reg {
      flex-direction: column;
      min-height: 220px;
      padding: 15px 35px 30px 20px;
    }
    @include mobile-sm {
      padding-left: 10px;
    }
  }
  .candidate-key_info-item {
    .current-data {
      color: $mainGreyFontColor;
      position: relative;
      font-weight: 600;
      pointer-events: none;
      @include desktop-sm {
        font-size: 14px;
      }
      @include tablet {
        pointer-events: auto;
        cursor: pointer;
        &:hover {
          cursor: pointer;
        }
      }
      @include mobile-reg {
        display: none;
      }
      &:before {
        content: "";
        position: absolute;
        left: -17px;
        top: 3px;
        background: url(../img/chevron-icon_grey.svg) no-repeat center center;
        width: 15px;
        height: 15px;
        background-size: cover;
        @include desktop-sm {
          width: 10px;
          height: 10px;
        }
      }
      &.current-data_mobile {
        display: block;
      }
    }
    .current-data_mobile {
      cursor: pointer;
      width: 20px;
      .mobile-menu_icon {
        display: none;
        @include mobile-reg {
          display: block;
          width: 20px;
        }
      }
    }
    .candidate-initials {
      color: $addFontColor;
      font-size: $addFontSize;
      font-weight: $boldestFontWeight;
      margin: 30px 0 10px;
      @include desktop-lg {
        font-size: 26px;
      }
      @include desktop-reg {
        font-size: 20px;
      }
      @include desktop-sm {
        font-size: 16px;
      }
      @include tablet {
        font-size: 14px;
      }
      @include mobile-reg {
        margin-top: 10px;
      }
    }
    .candidate-current_position {
      color: $accent-color;
      font-size: $userBarFontSize;
      @include desktop-lg {
        font-size: 20px;
      }
      @include desktop-reg {
        font-size: 18px;
      }
      @include desktop-sm {
        font-size: 16px;
      }
      @include tablet {
        font-size: 14px;
      }
    }
    .candidate-contact_info {
      @include mobile-reg {
        margin-top: 15px;
      }
      .contact-item {
        color: $mainGreyFontColor;
        font-style: normal;
        text-align: right;
        @include desktop-reg {
          font-size: 16px;
          padding: 5px 0;
        }
        @include desktop-sm {
          font-size: 14px;
        }
        @include mobile-reg {
          text-align: left;
        }
        &:not(:first-child){
          padding: 8px 0;
          @include desktop-reg {
            padding: 5px 0;
          }
        }
        &:first-child {
          font-size: $accentFontSize;
          @include desktop-sm {
            font-size: 18px;
          }
          .contact-type {
            font-size: initial;
            @include desktop-sm {
              font-size: 14px;
            }
          }
        }
        &:last-child {
          padding-bottom: 0;
        }
        .contact-type {
          font-weight: lighter;
          font-style: italic;
          display: inline-block;
          padding-left: 5px;
        }
      }
    }
  }
  .candidate-main_panel {
    @include flex-box;
    height: 100%;
    overflow-y: auto;
    .candidate-main_tabs {
      @include flex-box;
      flex-direction: column;
      .anchor-tab_cover,
      .content-tab_cover {
        @include flex-box;
      }
      .anchor-tab_cover {
        padding: 0 50px;
        min-height: 53px;
        @include box-shadow(0, 22px, 42px, -5px, rgba(50,50,50,.2));
        @include desktop-reg {
          padding: 0 30px;
        }
        @include desktop-sm {
          min-height: 45px;
        }
        @include mobile-reg {
          padding: 0 35px 0 20px;
          justify-content: space-evenly;
        }
      }
      .content-tab_cover {
        padding: 0 40px;
        overflow-y: auto;
        @include desktop-lg {
          padding: 0 20px;
        }
        @include desktop-reg{
          padding: 0 10px;
        }
        @include mobile-reg {
          padding: 0 35px 0 20px;
        }
        @include mobile-sm {
          padding-left: 15px;
        }
      }
      .tabs__toggle {
        padding: 15px 5px;
        max-height: 53px;
        text-transform: uppercase;
        color: $mainGreyFontColor;
        font-size: $smallFontSize;
        box-sizing: border-box;
        cursor: pointer;
        &:not(:first-child) {
          margin-left: 30px;
          pointer-events: none;
          @include mobile-reg {
            margin-left: 10px;
          }
          @include mobile-sm {
            margin-left: 5px;
          }
        }
        @include mobile-reg {
          font-size: 14px;
        }
      }
      .tabs__toggle_active {
        color: $addFontColor;
        border-bottom: 5px solid $accent-color;
      }
      .profile-tab {
        //overrides base tabs scripts styles
        display: flex!important;
        width: 100%;
      }
      .candidate-main_content-cover {
        @include flex-box;
        flex-direction: row;
        padding-top: 35px;
        //Should be added after main styling
        flex-wrap: wrap;
      }
      .candidate-main_content-item {
        display: flex;
        flex-direction: column;
      }
      .key-skills_content {
        width: 65%;
        min-width: 600px;
        @include desktop-lg {
          width: 60%;
          min-width: 580px;
        }
        @include desktop-reg {
          min-width: auto;
        }
        @include tablet {
          width: 100%;
          .key-work_skills {
            margin-left: 0;
            margin-right: 0;
          }
        }
        @include mobile-reg {
          min-width: unset;
        }
        &.sidebar-grid_skills {
          width: 100%;
          .key-work_skills {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
      .work-skills_content {
        width: 35%;
        min-width: 280px;
        @include desktop-lg {
          width: 40%;
        }
        @include desktop-reg {
          min-width: auto;
        }
        @include tablet {
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          .add-work_skills-item {
            width: 49%;
            margin-left: 0;
            margin-right: 0;
          }
        }
        @include mobile-reg {
          flex-direction: column;
          min-width: unset;
          .add-work_skills-item {
            width: 100%;
          }
        }
        &.work-grid_skills {
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          .add-work_skills-item {
            width: 49%;
            margin-left: 0;
            margin-right: 0;
            @include mobile-reg {
              width: 100%;
            }
          }
        }
      }
      .key-work_skills {
        padding: 20px 25px;
        margin: 0 15px 20px;
        background: $base-color;
        border-radius: 10px;
        @include box-shadow(0px, 0px, 35px, 0px, rgba(50, 50, 50, 0.2));
        @include desktop-sm {
          padding: 15px;
        }
        .top-info_bar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 15px;
          .skills-type_text {
            text-transform: uppercase;
            color: $addFontColor;
            @include desktop-sm {
              font-size: 14px;
            }
          }
          .years-experience {
            color: $accent-color;
            font-size: $accentFontSize;
            @include tablet {
              font-size: 20px;
            }
          }
        }
        .key-work_skills-list {
          .key-work_skills-item {
            padding: 20px 0;
            border-top: 1px solid $neutralGreyColor;
            display: none;
            transition: 0.2s;
            &:first-child {
              display: block;
              transition: 0.2s;
            }
          }
          &.full-skills_item {
            .key-work_skills-item {
              display: block;
              transition: 0.2s;
            }
          }
          .skills-item_represent-cover {
            display: flex;
            align-items: flex-start;
            img {
              max-width: 45px;
              border-radius: 3px;
            }
            .agency-contacts_text {
              margin-left: 15px;
              @include mobile-reg {
                margin-right: 21px;
                margin-left: 10px;
              }
              @include mobile-sm {
                margin-right: 0;
              }
              .position_name {
                color: $addFontColor;
                font-size: $accentFontSize;
                margin-bottom: 15px;
                @include desktop-sm {
                  font-size: 16px;
                }
              }
              .agency-name {
                color: $addFontColor;
                font-weight: $addFontWeight;
                margin-bottom: 15px;
                @include desktop-sm {
                  font-size: 14px;
                }
              }
              .location-area {
                color: $mainGreyFontColor;
                font-weight: $addFontWeight;
                font-size: $smallFontSize;
                @include desktop-sm {
                  font-size: 14px;
                }
              }
            }
            .skills-item_represent-cover {
              display: flex;
              flex: 1;
              flex-direction: row-reverse;
              .work-period {
                color: $mainGreyFontColor;
                font-weight: $addFontWeight;
                font-size: $smallFontSize;
                @include desktop-sm {
                  font-size: 14px;
                  text-align: right;
                }
                @include mobile-reg {
                  max-width: 80px;
                }
                @include mobile-sm {
                  min-width: 80px;
                }
              }
            }
          }
        }
        .show-more_link {
          text-align: center;
          padding-top: 15px;
          color: $mainGreyFontColor;
          font-size: $smallFontSize;
          font-weight: 500;
          position: relative;
          border-top: 1px solid $neutralGreyColor;
          cursor: pointer;
          &:after {
            content: '';
            position: absolute;
            right: 39%;
            top: 22px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $mainGreyFontColor;
            clear: both;
            transform: rotate(180deg);
            @include desktop-lg {
              right: 38%;
            }
            @include desktop-sm {
              right: 34%;
            }
            @include tablet {
              right: 37%;
            }
            @include mobile-reg {
              right: 30%;
            }
            @include mobile-sm {
              right: 25%;
            }
          }
        }
        .show-less_link {
          &:after {
            transform: rotate(0);
          }
        }
      }
      .add-work_skills-item {
        .top-info_bar {
          border-bottom: 1px solid $neutralGreyColor;
        }
        .edit-icon_link {
          cursor: pointer;
          .edit-icon {
            width: 15px;
          }
        }
        .actions-btns_cover {
          display: none;
          .action-btns_item {
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            @include box-shadow(0, 5px, 41px, -4px, rgba(50,50,50,.4));
            &:not(last-child) {
              margin-right: 5px;
            }
            img {
              width: 18px;
              margin: 0 auto;
            }
          }
        }
        &.skills-active_item {
          border: 3px solid $mainGreyFontColor;
          @include desktop-sm {
            padding: 10px;
          }
          .edit-icon_link {
            display: none;
          }
          .actions-btns_cover {
            display: flex;
            align-items: center;
          }
        }
        .editable-info_fields {
          @include flex-box;
          flex-direction: column;
          .info-field_item {
            @include flex-box;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0 0;
            background: $base-color;
            label {
              font-size: $smallFontSize;
              color: $mainGreyFontColor;
              font-weight: $addFontWeight;
              @include tablet {
                font-size: 12px;
              }
            }
            input {
              height: 28px;
              width: 70%;
              box-sizing: border-box;
              border: none;
              border-bottom: 1px solid $mainFontColor;
              font-size: $smallFontSize;
              color: $addFontColor;
              background: transparent;
              @include desktop-lg {
                width: 60%;
              }
              @include desktop-sm {
                width: 50%;
              }
              @include tablet {
                width: 60%;
              }
              &:focus {
                border: 1px solid $mainFontColor;
                background: $inputFocusColor;
                outline: none;
                border-radius: 3px;
              }
              &::placeholder {
                font-size: $smallFontSize;
                color: $addFontColor;
              }
            }
          }
        }
      }
    }
  }
}