// Font
$mainFont                : 'Roboto', sans-serif;

// Size
$mainFontSize            : 18px;
$smallFontSize           : 16px;
$activeFontSize          : 32px;
$addFontSize             : 28px;
$accentFontSize          : 24px;
$userBarFontSize         : 20px;
$addFontWeight           : 500;
$mainFontWeight          : 600;
$boldestFontWeight       : 900;
$mainLineHeight          : 1.4;

$desktopLgWidth          : 1440px;
$desktopRegWidth         : 1280px;
$DesktopSmWidth          : 1024px;
$tableWidth              : 768px;
$phoneRegWidth           : 480px;
$phoneSmWidth            : 320px;

// Main color
$mainFontColor           : #bfbcc8;
$addFontColor            : #140933;
$mainGreyFontColor       : #929ab2;
$inputFocusColor         : #fafafc;
$accent-color            : #00c3dc;
$base-color              : #ffffff;
$neutralGreyColor        : #f5f5f8;
$cancelIconColor         : #ff6f8c;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;